:root{

    --colorLila:#C15AEC;
    --colorGrisClaro: #D9D9D9;
    --colorBlanco: #F8F8F8;
    --colorCeleste: #88AEF4;
    --colorVioleta: #280E36;
    --colorNegro: #000;

}

*{
    box-sizing: border-box;
    margin: 0%;
}


/* font-family: 'Inter', sans-serif;
font-family: 'Saira Stencil One', cursive; */